@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #343a40;
  color: white;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
  text-align: center;
  background-color: rgb(201, 201, 201);
  margin-bottom: 60px;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Grid */
.grid {
  width: 80%;
  margin: 0 auto;  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: mediumpurple;
  width: 1fr;
  padding: 20px;
  border-radius: 5px;
  /* border: 1px solid rgb(224, 224, 224); */
  box-shadow: 4px 3px 16px 0px rgba(143, 143, 143, 0.71);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_img {
  overflow: hidden;    
}
.card_img img {
  height: 227px;
  width: 163px;    
  transition: 0.3s transform; 
}
.card_img img:hover {
  transform: scale(1.05);
}

.card h3 {
  text-decoration: underline;
  text-align: center;
  margin: 10px;
}

.card p {
  text-align: center;
  padding: 1px;
}