@font-face {
  font-family: "font-title";
  src: url("../assets/font/HARRYP__.TTF");
}
@font-face {
  font-family: "font-text";
  src: url("../assets/font/Sofia\ Pro\ ExtraLight\ Az.otf");
}

:root {
  --f-title: "font-title";
  --f-text: "font-text";
  --bg-pricipal: rgb(201, 201, 201); 
  --bg-secundario: #343a40;
  --c-title: #fac400f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--f-text);
}

h1 {
  font-family: var(--f-title);  
  color: var(--c-title);
  text-shadow: 1px 1px 2px black;
  text-align: center;
  font-size: 70px;
  letter-spacing: 2px;
}

header {
  background-image: url("../assets/image/banner1.png");
  background-size: cover;
}

.intro {
  padding: 30px;
}
.intro p {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.navbar {
  background-color: var(--bg-secundario);
  /* padding: 10px; */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 1rem;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;  
  padding: 10px;
}
nav ul li a:hover {
  color: var(--bg-secundario);
  background-color: var(--c-title);
}

body {
  background-color: var(--bg-pricipal);  
}

main {
  padding: 2em;
  text-align: center;
}

.container {
  display: flex;
  width: 80%;
  margin: 30px auto;
  background-image: linear-gradient(rgba(255, 255, 255, 0.199), rgba(253, 253, 253, 0.822)),
  url(../assets/image/banner1.png);
  background-size: cover;  
  box-shadow: 3px 2px 12px -3px rgb(82, 82, 82);
}

.desc {
  width: 40%;
  padding: 40px;  
  display: flex;
  align-items: center;
  background-color: rgba(150, 150, 150, 0.301);  
}
.desc p {
  text-align: center;  
  font-size: 22px;
  font-weight: bolder;
  color: var(--c-title);  
  text-shadow: 1px 1px 1px rgb(82, 82, 82);
}

.video {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.199);  
}
.video iframe {
    width: 35rem;
    height: 19.688rem;    
}

.intro {
  max-width: 800px;
  margin: 0 auto;
}

.secciones {
  width: 80%;
  margin: 50px auto;  
}
.secciones h2 {
  margin: 15px;
}
.secciones p {
  margin: 10px;
}

#casas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;    
}

.casa {
  width: 500px;  
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--bg-secundario);
}
.casa_img {
  width: 40%;    
}
.casa_img img {
  width: 100%;
}
.casa_desc {
  width: 60%;
}
.casa_desc p {
  text-align: left;
}

.aprendizaje {
  background-image: linear-gradient(rgba(78, 77, 77, 0.836), rgb(141, 141, 141)),
  url(../assets/image/fantasy-4253765.jpg);
  background-size: cover;  
  margin-top: 30px;
  padding: 30px;
  opacity: 0.85;
  color: whitesmoke;
  text-align: left;  
  text-shadow: 1px 1px 1px rgb(82, 82, 82);
  box-shadow: 3px 2px 12px -3px rgb(82, 82, 82);
}

.hechizo {
  background-color: var(--bg-secundario);
  padding: 10px;  
  color: var(--c-title);
}

.comunidad {
  margin: 50px 0;
}
.comunidad > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#comunidad > div {
  width: 300px;
  margin-top: 15px;
}

.iconos {
  font-size: 30px;
  color: var(--bg-secundario);
}

footer {
  background-color: var(--bg-secundario);
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* SCROLLHANDLER */
.go-top-container {
  position: fixed;
  bottom: 8rem;
  right: 2.2rem;
  width: 3rem;
  height: 3rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: var(--c-title);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: var(--bg-secundario);
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 3rem;
  height: 3rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
      width: 0;
      height: 0;
  }
  50% {
      width: 4rem;
      height: 4rem;
  }
  100% {
      width: 3rem;
      height: 3rem;
  }
}


/* RESPONSIVE DESIGN */

@media (max-width: 880px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .desc {
    width: 100%;    
  }
  .video {
    width: 100%;      
  }
}

@media (max-width: 480px) {
  main {
    padding: 0;
    margin-bottom: 100px;
  }
  .container {
    overflow: hidden;
    border-radius: 10px;
  }
  .video {
    padding: 0;
  }
  .casa {
    flex-direction: column;
  }
  .casa_img {
    width: 100%;    
  }
  .casa_img img {
    width: 100%;
  }
  .casa_desc {
    width: 100%;
  }
  .casa_desc p {
    text-align: center;
  }
  .go-top-container {
    bottom: 9rem;
    right: 1.2rem;
    
  }
}